
@font-face {
    font-family: 'lapicidelight';
    src: url('lapicide-light-webfont.woff2') format('woff2'),
         url('lapicide-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

#p5_loading {
  font-family: 'lapicidelight';
}

.loadingclass{
  text-align: center;
  font-family: 'lapicidelight';
}

.blink_me {
  animation: blinker 1s ease-in-out alternate infinite ease-in-out;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

body {
  background-color: #dedede;

}

nav {
  /* display: none; */

}

.layer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
}

.blur {
  -webkit-animation: blur 6s alternate infinite ease-in-out;
}

@-webkit-keyframes blur {
  0%, 100%  { -webkit-filter: blur(0px); }
  50% { -webkit-filter: blur(10px); }
}

.hue {
  -webkit-animation: hue 6s alternate infinite ease-in-out;
}

@-webkit-keyframes hue {
  0%, 100%  { -webkit-filter: hue-rotate(0deg); }
  50% { -webkit-filter: hue-rotate(180deg); }
}

.saturate {
  -webkit-animation: saturate 6s alternate infinite ease-in-out;
}

@-webkit-keyframes saturate {
  0%, 100%  { -webkit-filter: saturate(none); }
  50% { -webkit-filter: saturate(10); }
}

.brightness {
  -webkit-animation: brightness 6s alternate infinite ease-in-out;
}

@-webkit-keyframes brightness {
  0%, 100%  { -webkit-filter: brightness(none); }
  50% { -webkit-filter: brightness(10); }
}

.omgwtfbbq{
  -webkit-animation: omgwtfbbq 6s alternate infinite ease-in-out;
}

@-webkit-keyframes omgwtfbbq {
  0%  { -webkit-filter: blur(0px) brightness(none) hue-rotate(0deg) saturate(none); }
  100% { -webkit-filter: brightness(10) blur(10px) hue-rotate(180deg) saturate(10); }
}


.layer > img {
  /* position: absolute; */
  position: absolute;
  /* max-width: 100%; */
  /* max-height: 100%; */
  will-change: transform;
}

img.stretch {
  width: 100%;
  height: 100%;
}

img.full {
  /* height: 150%; */
  max-height: 150%
}

img.top {
  align-self: flex-start;
}
img.bottom {
  align-self: flex-end;
}
img.right {
  right: 0;
}
img.left {
  left: 0;
}

.layer.bg {
  z-index: 10;
}
.layer.mg {
  z-index: 20;
  opacity: 1;
}

.layer.fg {
  z-index: 40;
  opacity: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

#album-art{
  transition: 1s ease-in-out;

  /* box-shadow:

   0 0 30px 2px #FFFFFF /* outer cyan */ */
}

#album-art:hover{
/* -webkit-animation: omgwtfbbq 6s alternate ease-in-out; */
/*
-webkit-filter: brightness(1.5) ;
filter: brightness(1.5) ; */

}

.main-nav {
  z-index: 40;
  display: -webkit-flex;
  display: flex;
}
.main-nav li:first-child {
  margin-right: auto;
  list-style-type: none;
}

.main-nav li{
  list-style-type: none;
  font-family: 'lapicidelight';
}


.main-nav a {
  margin: 10px;
  border-radius: 5px;
  color: #000000;
	display: block;
	padding: 15px;
	text-decoration: none;
  font-size: 20px;
}

.main-nav .logo {
  font-size: 60px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 700px) {
  .main-nav {
    flex-direction: column !important;/* change the direction of the container */
  }

  .main-nav a{
    flex-direction: column!important;
    margin-left: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
  }

}
