
@font-face {
  font-family: 'Lapicide';
  src: url('fonts/Lapicide-Light.ttf') format("truetype"),
       url('fonts/Lapicide-Light.woff') format("woff"),
       url('fonts/Lapicide-Light.woff2') format("woff2"),
}

body {
  background-color: #dcdcdc;
  font-family: 'Lapicide', Fallback;
}

.main-nav {
  display: -webkit-flex;
  display: flex;
}
.main-nav li:first-child {
  margin-right: auto;
  list-style-type: none;
}

.main-nav li{
  list-style-type: none;

}

.main-nav a {
  margin: 10px;
  border-radius: 5px;
  color: #000000;
	display: block;
	padding: 15px;
	text-decoration: none;
  font-size: 20px;

}

.main-nav .logo {
  font-size: 60px;
  margin: 0;
  padding: 0;

}
